MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=material_coordination
MYSQL_USERNAME=root
MYSQL_PASSWORD=
MYSQL_URL=jdbc:mysql://localhost:3306/material_coordination?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

NACOS_SERVER_ADDR=localhost:8848
NACOS_AUTH_ENABLE=false

FRONTEND_ORIGIN=http://localhost:5173
FRONTEND_ORIGIN_ALT=http://127.0.0.1:5173

OPENRESTY_PORT=8088
GATEWAY_HOST=127.0.0.1
GATEWAY_PORT=8080

RATE_LIMIT_AUTH_REPLENISH_RATE=1
RATE_LIMIT_AUTH_BURST_CAPACITY=3
RATE_LIMIT_AUTH_REQUESTED_TOKENS=1
RATE_LIMIT_SENSITIVE_REPLENISH_RATE=1
RATE_LIMIT_SENSITIVE_BURST_CAPACITY=2
RATE_LIMIT_SENSITIVE_REQUESTED_TOKENS=1
RATE_LIMIT_API_REPLENISH_RATE=20
RATE_LIMIT_API_BURST_CAPACITY=40
RATE_LIMIT_API_REQUESTED_TOKENS=1
